# Set paths to directories containing dependancies
# If the tool is available on the system $PATH then you can ignore this config.

# Megahit
megahitfolder = default
# Arwen
arwenfolder = default
# Blast
blastfolder = default
# idba
idbafolder = default
# MetaSpades
metaspadesfolder = default
# tRNAscan-SE
trnascanfolder = default
# MitFi
mitfifolder = default
